<table *ngIf="$contractionHistory.contractions.length" mat-table [dataSource]="$contractionHistory.contractions">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.index}} </td>
  </ng-container>

  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef> Start Time </th>
    <td mat-cell *matCellDef="let element"> {{element.startTime | date: 'mediumTime'}} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
  </ng-container>

  <ng-container matColumnDef="timeSince">
    <th mat-header-cell *matHeaderCellDef> Time Since </th>
    <td mat-cell *matCellDef="let element"> {{element.timeSince}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button
  *ngIf="$contractionHistory.contractions.length"
  mat-button
  color="warn"
  on-click="$contractionHistory.clearLocalStorage()"
>Clear History</button>

<!-- No Contractions Recorded Yet -->
<div *ngIf="$contractionHistory.contractions.length == 0">
  No contractions recorded yet! Navigate to the timer to start keeping track!
</div>