@import '../theme';

.container {
  display: grid;
  grid-template-columns: auto 40px;
  grid-template-rows: 102px auto;
  grid-template-areas: 
    "header header";
  height: 100vh;
}

.area {
  display: block;
  height: 100%;
  padding: 0 16px;
  overflow-y: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    margin: 16px 0;
  }
}

labor-progress {
  grid-area: header;
}

.neutral-theme.nav {
  a.active {
    background-color: map-get($amiinlabor-primary, 200);
  }
}

.girl-theme.nav{
  a.active {
    background-color: map-get($girl-primary, 200);
  }
}

.boy-theme.nav {
  a.active {
    background-color: map-get($boy-primary, 200);
  }
}